* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
  background-color:rgb(73, 125, 158);
}

label, input, select {
  display: block;
}

.login-form-container{
  margin: 100px auto;
  width: 100%;
  max-width: 500px;
  min-height: 500px;
  display: flex;
  flex-direction:column;
  padding: 1rem;
  background-color: rgba(0,0,0,0.4);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}


h1,h2 {
  text-align: center;
  color: orange;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

input, button {
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 5px;
}

label {
  margin-top: 1rem;
  padding:5px;
  margin:5px;
}

button {
  margin:10px 10px;
  text-decoration: none;
  margin-top: 40px;
}

select {
  width:260px;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.error-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color:red;
}

nav {
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color:rgb(151, 88, 147);
  color: white;
  height:40px;
  margin-bottom: 10px;
  min-height: 10vh;

}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}

.active {
  color:aliceblue !important;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.navLink:hover {
  background-color: rgb(103, 196, 196);
  border-radius: 5px;
  padding: 10px;
}

.reservation-roomType-container {
  width:60%;
  margin:20px auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align: center;

}

.reservation-roomType-sub-container {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:10px 30px;
  margin:10px;  
}

.reservation-roomType-context {
  text-align: start;
}

.reservation-roomType-form-container {
  margin: 50px auto;
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color:lavender;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  color:black
}

.reservation-roomType-form {
margin:20px auto;
}
  
.edit-delete-button {
  display: flex;
  justify-content:flex-start;
  padding:20px 30px; 
}

.errorMsg {
  color:red;
  font-size: medium;
  /* background-color: bisque; */
}

.loadingMsg{
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.spinner {
  width: 2rem;
  height: 2rem;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 6px solid #00acc1;
  border-left: 6px solid #60dbeb;
  border-bottom: 6px solid #00acc1;
  border-right: 6px solid #60dbeb;
  animation: 1s infinite linear rotateMe;
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.selcet-roomType {
  height: 40px;
  border-radius: 5px;
  border-color: black;
  border-style: solid;
 
}

checkbox-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.checkbox {
  height:20px;
  width:20px;
  display: inline;
}

.textarea {
  font-size: 20px;
  display: block;
}